@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    body {
        font-family: 'Roboto', sans-serif;
    }
    .container {
        width:1230px;
        margin: 0 auto;
        padding-top:4rem;
    }
    .h-333 {
        height: 333px;
    }
    .w-440 {
        width:440px;
    }
    .w-60 {
        width:60px;
    }
    .h-86 {
        height:86px;
    }
    .bg-primary {
        background-color: #EABF00;
    }
    .bg-secondary {
        background:#1B1A20;
    }
    .text-primary {
        color: #EABF00;
    }

}